exclude .cookiecutter-replay.json
exclude .editorconfig
exclude .gitignore
exclude CODEOWNERS
exclude CONTRIBUTING.md
exclude mkdocs.yml
exclude noxfile.py
exclude src/conftest.py
recursive-exclude .github *
recursive-exclude benchmarks *
recursive-exclude docs *
recursive-exclude tests *
recursive-include py *.pyi
