[build-system]
requires = [
    "setuptools >= 65.3.0, < 66",
    "setuptools_scm[toml] >= 7.0.5, < 8",
    "wheel"

]
build-backend = "setuptools.build_meta"

[project]
name = "frequenz-sdk"
requires-python = ">= 3.8, < 4"
dependencies = [
    "frequenz-api-microgrid >= 0.11.0, < 0.12.0",
    "frequenz-channels >= 0.10.0, < 0.11.0",
    "google-api-python-client >= 2.15, < 3",
    "grpcio >= 1.47, < 2",
    "grpcio-tools >= 1.47, < 2",
    "networkx >= 2.8, < 3",
    "pandas >= 1.3.5, < 2",
    "protobuf >= 3.20, < 4",
    "pyarrow >= 6.0.0, < 6.1",
    "pydantic >= 1.9",
    "pytz >= 2021.3",
    "sympy >= 1.10.1, < 2",
    "toml >= 0.10",
    "tqdm >= 4.38.0, < 5",
    "watchfiles >= 0.15.0",
]
dynamic = [ "version" ]

[[project.authors]]
name ="Frequenz Energy-as-a-Service GmbH"

[tool.setuptools]
include-package-data = true

[tool.setuptools_scm]
version_scheme = "post-release"

[tool.black]
line-length = 88
target-version = ['py38']
include = '\.pyi?$'

[tool.pylint]
    [tool.pylint.'SIMILARITIES']
    ignore-comments=['yes']
    ignore-docstrings=['yes']
    ignore-imports=['no']
    min-similarity-lines=40

    [tool.pylint.messages_control]
    disable = [
        "too-few-public-methods",
        # disabled because it conflicts with isort
        "wrong-import-order",
        "ungrouped-imports"
    ]

    [tool.pylint.'DESIGN']
    max-attributes=12

[tool.isort]
profile = "black"
line_length = 88
src_paths = ["src", "examples", "tests"]

[tool.pytest.ini_options]
asyncio_mode = "auto"
required_plugins = [ "pytest-asyncio", "pytest-mock" ]
